<div class="page-header">
    <h2 class="text-center">Geração de certificado</h2>
    <p class="text-center">Preencha os dados para gerar um novo certificado</p>
</div>

<div class="custom-card">
    <div class="form-container">
        <div class="title-form">
            <h3>Novo certificado</h3>
        </div>
        <form class="form-container">
            <div class="mb-3 form-group">
                <label for="exampleInputEmail1" class="form-label">Nome completo</label>
                <input [(ngModel)]="nome" name="nome" type="text" class="form-custom-control"
                    placeholder="Digite o nome completo">
                <div class="error-message">
                    <i class="ph ph-warning-circle"></i> Campo obrigatório
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Atividade</label>
                <div class="d-flex align-items-center">
                    <input [(ngModel)]="atividade" name="atividade" id="atividade" type="text"
                        class="form-custom-control" placeholder="Digite o título da atividade">
                    <app-secundary-button></app-secundary-button>
                </div>
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label">Lista de atividades</label>
                <div class="card-list">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let atividade of atividades">
                            {{ atividade }}
                            <div class="remove-btn"><i class="ph ph-x"></i></div>
                        </li>
                    </ul>
                </div>
            </div>
            <app-primary-button></app-primary-button>
        </form>
    </div>
</div>