.navbar {
    background-color: #ffffff;
    padding: 1rem 2rem;
    border-bottom: #e2e8f0 1px solid;
    padding-right: 28px;
    padding-left: 12px;
}

a {
    text-decoration: none;
    font-weight: 600;
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-logo img{
    height: 40px;
}

.active {
    color: #3B5AC2;
}

.nav-link.active {
    color: #3B5AC2 !important;
}

.navbar-nav li i {
    font-size: 20px;
}

.navbar-nav li {
    font-size: 14px;
}

