<div class="page-header">
    <h2 class="text-center">Certificados gerados</h2>
    <p class="text-center">Visualize todos os certificados gerados</p>
</div>

<div class="custom-card">
    <div>
        <div class="icon-certificados">
            <i class="ph ph-certificate"></i>
        </div>
        <div class="text-certificados">
            <h3>Nenhum certificado gerado</h3>
            <p>Gere certificados para consultar o histórico</p>
        </div>
        <div class="container d-flex justify-content-center">
            <app-secundary-button>
            </app-secundary-button>
        </div>
    </div>
</div>

<div class="item-certificados">
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
    <app-item-certificado></app-item-certificado>
</div>