<div class="container">
    <div class="action-buttons">
        <a class="back-button" routerLink="/"><i class="ph ph-arrow-left"></i>
            Voltar</a>
        <app-secundary-button (click)="downloadCertificado()" [textSecundaryButton]="'Download'"
            [icon]="'ph ph-download-simple'"></app-secundary-button>
    </div>

    <div #certificadoContainer class="preview-certificado">
        <div #certificadoContainer class="content">
            <img class="ribbon" src="certificado/Certificate_Ribbon.png" alt="">
            <div class="header">
                <h1 class="title">CERTIFICADO DE CONCLUSÃO</h1>
                <p class="subtitle">
                    Este certificado comprova que
                </p>
            </div>
            <div class="content-name">
                <h2 class="name">{{ certificado.nome }}</h2>
            </div>

            <div class="content-description">
                <div class="content-title">
                    <p>
                        Concluiu com sucesso as seguintes atividades:
                    </p>
                </div>
                <div class="content-activities">
                    <p>{{ certificado.atividades.join(', ') }}</p>
                </div>
            </div>

            <div class="content-footer">
                <span class="issue-date">Emitido em {{ certificado.data }}</span>
                <img class="signature" src="certificado/Certificate_Signature.svg" alt="">
            </div>

        </div>


    </div>