<div class="container">
    <div class="action-buttons">
        <a class="back-button" href="/"><i class="ph ph-arrow-left"></i>
            Voltar</a>
        <app-secundary-button></app-secundary-button>
    </div>

    <div class="preview-certificado">
        <div class="content">
            <img class="ribbon" src="certificado/Certificate_Ribbon.png" alt="">
            <div class="header">
                <h1 class="title">CERTIFICADO DE CONCLUSÃO</h1>
                <p class="subtitle">
                    Este certificado comprova que
                </p>
            </div>
            <div class="content-name">
                <h2 class="name">Vinicius de Souza Santos</h2>
            </div>

            <div class="content-description">
                <div class="content-title">
                    <p>
                        Concluiu com sucesso as seguintes atividades:
                    </p>
                </div>
                <div class="content-activities">
                    <p>Introdução ao Angular, Configuração com Angular CLI, Criação de componentes reutilizáveis,
                        Manipulação de dados, Implementação de data binding, Criação de rotas com Angular Router,
                        Consumo de APIs REST</p>
                </div>
            </div>

            <div class="content-footer">
                <span class="issue-date">Emitido em 25/04/2025</span>
                <img class="signature" src="certificado/Certificate_Signature.svg" alt="">
            </div>

        </div>


    </div>