.custom-button {
  height: 40px;
  padding: 10px 16px;
  border: none;
  font-size: 16px;
  border-radius: 6px;
  background-color: #1A2856;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.custom-button:hover {
  opacity: 90%;
  transition: opacity 0.5s ease-in-out;
}

.custom-button i {
    width: 20px;
}
